/*.pln {*/
/*    color: #000*/
/*}*/

/*@media screen {*/
/*    .str {*/
/*        color: #080*/
/*    }*/

/*    .kwd {*/
/*        color: #008*/
/*    }*/

/*    .com {*/
/*        color: #800*/
/*    }*/

/*    .typ {*/
/*        color: #606*/
/*    }*/

/*    .lit {*/
/*        color: #066*/
/*    }*/

/*    .pun,.opn,.clo {*/
/*        color: #660*/
/*    }*/

/*    .tag {*/
/*        color: #008*/
/*    }*/

/*    .atn {*/
/*        color: #606*/
/*    }*/

/*    .atv {*/
/*        color: #080*/
/*    }*/

/*    .dec,.var {*/
/*        color: #606*/
/*    }*/

/*    .fun {*/
/*        color: red*/
/*    }*/
/*}*/

/*@media print,projection {*/
/*    .str {*/
/*        color: #060*/
/*    }*/

/*    .kwd {*/
/*        color: #006;*/
/*        font-weight: bold*/
/*    }*/

/*    .com {*/
/*        color: #600;*/
/*        font-style: italic*/
/*    }*/

/*    .typ {*/
/*        color: #404;*/
/*        font-weight: bold*/
/*    }*/

/*    .lit {*/
/*        color: #044*/
/*    }*/

/*    .pun,.opn,.clo {*/
/*        color: #440*/
/*    }*/

/*    .tag {*/
/*        color: #006;*/
/*        font-weight: bold*/
/*    }*/

/*    .atn {*/
/*        color: #404*/
/*    }*/

/*    .atv {*/
/*        color: #060*/
/*    }*/
/*}*/

/*pre.prettyprint {*/
/*    padding: 2px;*/
/*    border: 1px solid #888*/
/*}*/

/*ol.linenums {*/
/*    margin-top: 0;*/
/*    margin-bottom: 0*/
/*}*/

/*li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {*/
/*    list-style-type: none*/
/*}*/

/*.prettyprint,*/
/*pre.prettyprint {*/
/*    white-space: pre-wrap;*/
/*    word-wrap: break-word;*/
/*    background-color: #272822;*/
/*    border: 1px solid #272822;*/
/*    overflow: hidden;*/
/*    padding: 8px;*/
/*}*/

/*.prettyprint.linenums,*/
/*pre.prettyprint.linenums {*/
/*    -webkit-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;*/
/*    box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;*/
/*    border-radius: 2px;*/
/*}*/

/*.prettyprint.linenums ol,*/
/*pre.prettyprint.linenums ol {*/
/*    margin: 0 0 0 33px;*/
/*}*/

/*.prettyprint.linenums ol li,*/
/*pre.prettyprint.linenums ol li {*/
/*    padding-left: 12px;*/
/*    color: #777;*/
/*    line-height: 20px;*/
/*    margin-left: 0;*/
/*    list-style: decimal;*/
/*}*/

/*.prettyprint .com {*/
/*    color: #93a1a1;*/
/*}*/

/*.prettyprint .lit {*/
/*    color: #AE81FF;*/
/*}*/

/*.prettyprint .pun,*/
/*.prettyprint .opn,*/
/*.prettyprint .clo {*/
/*    color: #F8F8F2;*/
/*}*/

/*.prettyprint .fun {*/
/*    color: #dc322f;*/
/*}*/

/*.prettyprint .str,*/
/*.prettyprint .atv {*/
/*    color: #E6DB74;*/
/*}*/

/*.prettyprint .kwd,*/
/*.prettyprint .tag {*/
/*    color: #F92659;*/
/*}*/

/*.prettyprint .typ,*/
/*.prettyprint .atn,*/
/*.prettyprint .dec,*/
/*.prettyprint .var {*/
/*    color: #A6E22E;*/
/*}*/

/*.prettyprint .pln {*/
/*    color: #66D9EF;*/
/*}*/
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    background: #fefbec;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
}

.pln {
    color: #20201d;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #999580;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    /*padding-left: 1em;*/
    background-color: #fefbec;
    list-style-type: decimal;
}

@media screen {

    /* string content */

    .str {
        color: #60ac39;
    }

    /* keyword */

    .kwd {
        color: #b854d4;
    }

    /* comment */

    .com {
        color: #999580;
    }

    /* type name */

    .typ {
        color: #6684e1;
    }

    /* literal value */

    .lit {
        color: #b65611;
    }

    /* punctuation */

    .pun {
        color: #20201d;
    }

    /* lisp open bracket */

    .opn {
        color: #20201d;
    }

    /* lisp close bracket */

    .clo {
        color: #20201d;
    }

    /* markup tag name */

    .tag {
        color: #d73737;
    }

    /* markup attribute name */

    .atn {
        color: #b65611;
    }

    /* markup attribute value */

    .atv {
        color: #1fad83;
    }

    /* declaration */

    .dec {
        color: #b65611;
    }

    /* variable name */

    .var {
        color: #d73737;
    }

    /* function name */

    .fun {
        color: #6684e1;
    }
}
.prettyprint.linenums ol, pre.prettyprint.linenums ol {
    margin: 0 0 0 50px;
}
